<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <application
        android:name=".GoblithApp"
        android:allowBackup="true"
        android:label="Goblith"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:supportsRtl="true">
        <activity android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme"/>
        <activity android:name=".PdfViewerActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity android:name=".NotesActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity android:name=".WordAnalysisActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity android:name=".StatsActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity android:name=".CrossRefActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity android:name=".FlashcardActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity android:name=".ReadingListActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity android:name=".ArchiveActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity android:name=".CommunityArchiveActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity android:name=".SearchActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>
    
        <receiver android:name=".SyncReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.goblith.app.AUTO_SYNC"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".ReminderReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.goblith.app.READING_REMINDER"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>